* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 1.5;
}

header {
    background-color: #000000;
    color: white;
    width: 100%;
    padding: 20px 60px 120px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 70%;
}

.nav div {
    display: flex;
    justify-content: flex-end;
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

header li {
    display: block;
}


a {
    color: inherit;
    text-decoration: none;
}

.second-container {
    width: 85%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.posts {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.item {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.item img {
    width: auto;
    height: auto;
}

.item-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.information {
    flex: 1;
    line-height: 2;
}

.information ul {
    list-style: none;
}

.information hr {
    width: 75%;
}

address {
    font-style: normal;
    font-weight: lighter;
    margin-top: 10px;
}


/* General styles */
h2 {
    font-size: 30px;
    font-weight: lighter;
}

h3 {
    font-size: 25px;
    font-weight: lighter;
}

time {
    font-size: 15px;
    color: #707070;
}

button {
    width: fit-content;
    padding: 10px 20px;
    background-color: transparent;
    border-width: 1px;
    cursor: pointer;
}

button:hover {
    color: #FFFFFF;
    background-color: #000000;
}

hr {
    border: none;
    height: 1px;
    background-color: #DDDDDD;
    opacity: 0.9;
    margin: 10px 0;
}


.second-item {
    flex: 1;
}


/* Sponsors logos */
#logo img {
    width: 100%;
    height: 100vh;
}

.third-container {
    width: 85%;
    margin: 30px auto;
}

.third-container h2 {
    text-align: center;
}

.lineBreak {
    width: 82%;
    margin: 50px auto;
}


/* Footer */
#footerWrapper {
    background-color: #000000;
}

#footer-container {
    width: 85%;
    margin: auto;
    color: white;
}

.footer-container1 {
    padding: 100px 0 60px;
    display: flex;
    justify-content: space-between;
}

#footerWrapper hr {
    color: #DDDDDD;
}

.footerLinks {
    display: flex;
    gap: 30px;
}

.footerLinks img {
    width: 20px;
    color: #707070;
}

.footer-container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.footer-container2 div {
    width: 30%;
}

.footer-container2 ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-container2 img {
    width: 80%;
    height: 80%;
}

.footer-container2 address {
    color: #707070;
}

.footer-container2 h3,
h4 {
    margin-bottom: 10px;
}





.popup {
    width: 60%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    background-color: white;
    font-size: 18px;
    line-height: 1.5;
    z-index: 1;
}

.popUpDescription {
    padding: 30px 0;
    width: 90%;
    margin: auto;  
}

.popUpDescription p {
    margin-bottom: 15px;
    text-align: justify;
}

.popup img {
    width: 100%;
    height: 400px;
}

.openPopUp {
    visibility: visible;
}

.closePopUp {
    visibility: hidden;
}
